<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine {{inventory_hostname}}</title>
</head>
<body>
    <p>Bienvenue sur  {{inventory_hostname}}</p>
</body>
</html>